### To put a condition on a year when the column is of type object and contains date strings like '2015-02-09':

1. Convert the column to a DateTime type.
2. Extract the year from the datetime representation.
3. Apply the condition on the extracted year.

In [5]:
import pandas as pd

In [6]:
# Example DataFrame
data = {
    'title':['Movie A', 'Movie B', 'Movie C'],
    'release_date':['2015-02-09', '2018-05-22', '2021-12-15']
}
df = pd.DataFrame(data)
df

     title release_date
0  Movie A   2015-02-09
1  Movie B   2018-05-22
2  Movie C   2021-12-15

### Step 1: Convert 'release_date' to datetime type

In [15]:
df['release_date'] = pd.to_datetime(df['release_date'])
df['release_date']

0   2015-02-09
1   2018-05-22
2   2021-12-15
Name: release_date, dtype: datetime64[ns]

### Step 2: Extract the year from 'release_date'

In [16]:
df['year'] = df['release_date'].dt.year
df

     title release_date  year
0  Movie A   2015-02-09  2015
1  Movie B   2018-05-22  2018
2  Movie C   2021-12-15  2021

### Step 3: Apply condition (e.g., year greater than 2018)

In [17]:
filtered_df = df[df['year']>2018]
filtered_df

     title release_date  year
2  Movie C   2021-12-15  2021

### Explanation
#### Convert 'release_date' to datetime type:

`df['release_date'] = pd.to_datetime(df['release_date'])`
This converts the column 'release_date' from an object type to datetime64.
This allows you to easily work with date components such as year, month, or day.

#### Extract the year:

`df['year'] = df['release_date'].dt.year`
Here, .dt is an accessor for datetime-like properties.
.year extracts the year component from each date.

#### Apply a condition:

`filtered_df = df[df['year'] > 2018]`
This filters the rows based on the condition where the year is greater than 2018.
Output
The resulting filtered_df would look like this:

     title release_date  year
2  Movie C   2021-12-15  2021

#### Alternative: Apply Condition Directly
If you don't want to create a new column (year), you can apply the condition directly after converting to datetime:

`filtered_df = df[pd.to_datetime(df['release_date']).dt.year > 2018]`
`print(filtered_df)`